<div class="container mt-4">
        <h2>Update New Course</h2>
        <form method="POST" action="/course/{{course._id}}?_method=PUT">
            <div class="form-group">
                <label for="decription">Description</label>
                <input type="text" class="form-control" value="{{course.decription}}" id="decription" name="decription" required>
            </div>
            <div class="form-group">
                <label for="img">ImgURL</label>
                <input type="text" class="form-control" value="{{course.img}}" id="img" name="img" placeholder="Enter course ImgURL" required>
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" value="{{course.title}}" id="title" name="title" placeholder="Enter course title" required>
            </div>
            <div class="form-group">
                <label for="slug">Slug</label>
                <input type="text" class="form-control" value="{{course.slug}}" id="slug" name="slug" placeholder="Enter course slug" required>
            </div>
            <div class="form-group">
                <label for="video_id">Video ID</label>
                <input type="text" class="form-control" value="{{course.video_id}}" id="video_id" name="video_id" placeholder="Enter video ID" required>
            </div>
            {{!-- <div class="form-group">
                <label for="level">Level</label>
                <input type="text" class="form-control" id="level" name="level" placeholder="Enter course level" required>
            </div> --}}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>